.container{
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-rows: 10% 30% 20% 40%;
    grid-template-areas:    
    "header"
    "main"
    "section"
    "footer";
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    display: flex;
    text-align: left;
}

header img {
    width: 15%;
    height: 90%;
}

header ul {
    display: flex;
    padding-left: 1px;
}

header li {
    padding: 14px 20px;
    text-decoration: none;
    list-style: none;
}

nav li:hover {
    background-color: white;
    color:black;
    border-radius: 10%;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(46, 46, 46);
}

#main_section{
    text-align: center;
    color: white;
    padding-top: 5%;
}

form {
    background-color: white;
    margin: 10%;
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

form button {
    background-color: rgb(61, 167, 61);
}

#central_section {
    text-align: center;
}

#botoncito {
    width: 20%;
    border-style: solid;
    border-color: blue;
    border-width: 1pt;
    border-radius: 20%;
    margin: auto;
    padding: 10px 0px 10px 0px;
}


#footer {
    grid-area:footer;
    display: flex;
}

#imagen {
    height: 80%;
    width: 80%;
}

#section_div {
    display: flex;
    text-align: center;
    width: 60%;
    flex-wrap: wrap;

}

@media screen and (max-width: 992px){

    .container{
        margin: 0 auto;
        width: 900px;
        display: grid;
        grid-template-rows: 10% 30% 10% 40%;
        grid-template-areas:    
        "header"
        "main"
        "section"
        "footer";
    }

    header nav {
        display: none;
    }


    main {
        flex-direction: column;
    }

    #main_section{
        text-align: center;
        color: white;
        padding-top: 5%;
        height: 10vh;
        margin-bottom: 1vh;
    }

    #footer {
        flex-direction: column;
        align-items: center ;
    }

    #footer div{
        position:static;
        margin-bottom: 9vh;
    }

    #imagen {
        height: 50%;
        width: 50%;
    }

}

@media screen and (max-width:576px){

    header nav {
        display: none;
    }

    main {
        flex-direction: column;
    }

    #main_section{
        text-align: center;
        color: white;
    }

    form {
        background-color: rgb(46, 46, 46);
    }

    #main_form label, input, form p {
        background-color: rgb(46, 46, 46);
        display: none;
    }

    #footer {
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
}

