*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

#fondo {
    width: 80%;
    height: 80%;
    margin: auto;
}

header{
    background-color: rgba(255,255,255);
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
}

#nombrePagina {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-left: 10%;
    padding-right: 1%;
}

.menu{
    padding: 0 0 0 0;
    margin: 0 0 0 25px;
    position: relative;
    align-items: center;
    right: 0;
    font-size:x-small;
    color: black;
}

.menu:hover {
    background-color: rgba(0, 0, 0, 0.397);
    transition-duration: 0.5s;
    margin: 0 0 0 25px;
}

.menu a {
    color: black;
}

.login{
    align-items: center;
    border-right: solid 1pt grey;
    border-left: solid 1pt grey;
    font-size:x-small;
    color: black;
    padding: 22pt;
    margin-left: 30%;
}

.login div{
    margin-top: 10%;
    position: relative;
    color: black;
    }

.login div :hover{
    background-color: rgba(0, 0, 0, 0.397);
    color: black;
    transition-property: background-color;
    transition-duration: 0.5s;
    margin-top: 10%;
}

.login div :active{
    color: black;
}

.login a {
    color: black;
}

.contenedor1 {
    background-image: url(/U4_Maquetacion/LayoutTradicional/img/flores.png);
    width: 90%;
    height: 400px;
    margin: 10pt 10pt 10pt 10pt;
    display: flex;
    flex-direction: column;
}

.contenedor1 h2 {
    color: rgb(88, 58, 58);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 10%;
    font-size: xx-large;
}

.formulario {
    display: inline-block;
    text-align: right;


}

#h2 {
    text-align: center;
}


.contenedor2 {
    width: 90%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.numero {
    font-size: 50px;
    font-weight: 100;
}

.titulo {
    font-size: 15px;
    font-style: italic;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.contenedor3 {
    width: 90%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.contenedor3 img {
    padding: 3% 2px 3% 2px;
    width: 30%;
    height: 30%;
    flex-wrap: wrap-reverse;

}